.services {
    &__blocks {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and(max-width: 895px){
            flex-wrap: wrap;
        }
    }

    &__blocks-item {
        margin-right: 25px;
        padding-top: 165px;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        @media screen and(max-width: 895px){
            width: 45%;
            padding-top: 50px;
        }
        @media screen and(max-width: 705px){
            width: 40%;
        }
        @media screen and(max-width: 500px){
            width: 100%;
            margin-right: 0;
        }
    }

    &__blocks-circle {
        border-radius: 50%;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__blocks-heading {
        font-size: 16rem;
        text-transform: uppercase;
        font-family: 'Monserrat', sans-serif;
        font-weight: bold;
    }

    &__blocks-text {
        font-size: 14rem;
    }

    @for $i from 1 through 4 {
        .services__blocks-item:nth-child(#{$i}) {
              .services__blocks-circle {
                background-image: url('../../../assets/img/services/services-#{$i}.png'), linear-gradient(to bottom, rgba(72,85,99,1) 0%,rgba(41,50,60,1) 100%)
            }
          } 
      }
}