.header {
    height: 100vh;
    color: $white;
    background: rgb(72,85,99); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(72,85,99,.5) 0%, rgba(41,50,60,.5) 100%, rgba(41,50,60,.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(72,85,99,.5) 0%,rgba(41,50,60,.5) 100%,rgba(41,50,60,.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom, rgba(72,85,99,.5) 0%,rgba(41,50,60,.5) 100%,rgba(41,50,60,.5) 100%), url('../../../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Monserrat', sans-serif;

    &__top {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
    }

    &__main {
        padding: 220px 140px;
        text-align: center;
    }

    &__menu {
        display: flex;
    }

    &__menu-text {
        text-transform: uppercase;
        margin-right: 20px;
    }

    &__title {
        font-size: 36rem;
        font-weight: bold;
    }

    &__sub {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 17rem;
    }
}