.pricing {
    background: $white;
    padding: 100px 0;

    &__heading {
        margin-bottom: 70px;
    }

    &__tables {
        display: flex;
        justify-content: center;

        @media screen and(max-width: 850px){
            flex-wrap: wrap;
        }
    }

    &__tables-table {
        width: 33%;
        border: 1px solid rgba($alto, 0.5);
        font-family: 'Monserrat', sans-serif;
        color: $ebony_clay;
        background: $white;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            border-top-width: 5px;
            border-top-color: $ebony_clay;
            transform: scale(1.1);
            z-index: 2;
        }

        @media screen and(max-width: 850px){
            width: 48%;
        }
        @media screen and(max-width: 610px){
            width: 100%;
            margin-bottom: 10px;
            &:hover {
                transform: none;
                border: 1px solid rgba($alto, 0.5);
            }
        }
    }

    &__tables-offer {
        padding: 60px 0;
        border-bottom: 1px solid rgba($alto, 0.5);
        text-align: center;
    }

    &__tables-title {
        font-weight: bold;
        font-size: 20rem;
    }

    &__tables-price {
        display: block;
        font-size: 45rem;
    }

    &__tables-period {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        text-transform: uppercase;
    }

    &__tables-description {
        padding: 65px 80px;
        line-height: 40rem;
        text-align: center;
        @media screen and(max-width: 950px){
            padding: 65px 20px;
        }
    }

    &__button {
        display: block;
        margin: 0 auto 35px auto;
        background: $ebony_clay;
    }
}