.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left,
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}